//===========================//
// Base Colors (For brand specific theming)
//===========================//
$red : #fff;
$orange : #d78d45;
$yellow : #fff;
$green : #fff;
$blue : #3d63ad;
$purple : #3f3685;
$brown : #fff;
$black : #fff;
$white : #fff;



//===========================//
// Backgrounds
//===========================//
$bg : #000;
$bg-secondary : #eeeeee;
$bg-tertiary : #dddddd;
$bg-quat : #aaa;




//===========================//
// Links
//===========================//
$link: #d78d45;
$link-visited: #4ab2cd;
$link-hover: #4ab2cd;
$link-active: #4ab2cd;




//===========================//
// Type
//===========================//
$text: #ffffff;
$text-primary: #222222;
//$text-secondary: #333333;
$text_secondary: #ff3200;
$text-tertiary: #9a9a9b;

$text-dark: #0e0e0e;

$text-primary-alt: #ffffff;
$text-secondary-alt: #ffffff;
$text-tertiary-alt: #ffffff;

$h-text-primary: #50b1cb;
$h-text-secondary: #50b1cb;

$text-standout : $red;


//===========================//
// Borders
//===========================//
$border: #ea1f23;
$border-primary: #777;
$border-secondary: #aaa;
$border-tertiary: $white;





//===========================//
// Buttons
//===========================//
$button-cta-start: #f75231;
$button-cta-end: #df4222;
$button-cta-border: #b7371d;

$button: #e12826;




//===========================//
// General
//===========================//
$go: #53be97;
$warning: #ebaf24;
$danger: $red;

$icon : #4e5961;
$icon-secondary : #50b1cb;





