@mixin break-xs {
  @media only screen and (max-width: 479px) {
    @content;
  }
}

@mixin break-sm{
  @media only screen and (max-width: 767px) {
    @content;
  }
}

@mixin break-md{
  @media only screen and (max-width: 1023px) {
    @content;
  }
}

@mixin break-lg {
  @media only screen and (max-width: 1365px) {
    @content;
  }
}



// New media queries using mapping
//@include break(xs) {
//  color: tomato;
//}
$breakpoints: (
    xs: 479px,
    sm: 767px,
    sm-md : 991px,
    md: 1023px,
    md-lg :1199px,
    lg: 1365px
);

@mixin break($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (max-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  }

  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}







