#wrap.container{
  div#header{
	width: 25%;
	float: left;
	padding-top: 7px;
	margin-top: 0;

	@include break(lg){
	  width: 15%;
	}

	@include break(sm){
	  width: 100%;
	  margin: 0;
	  margin-left: 0;
	  float: none;
	}

	.logotype-img{
	  @include break(sm){
		text-align: center;
		display: block;
		margin: 0 auto;
	  }

	  img{
		max-height: 49px;
	  }
	}
  }


  div#navigation{
	float: right;
	width: 70%;
	clear: none;
	height: 69px;
	margin-bottom: 0;

	@include break(lg){
	  width: 70%;
	  margin-right: 1%;
	}

	@include break(md){
	  width: 75%;
	}

	@include break(sm){
	  width: 100%;
	  height: auto;
	  margin-right: 0;
	  margin-bottom: 27px;
	}

	ul{
	  li{
		&.active a{
		  background: none !important;
		  border: none !important;

		  @include break(sm){
			background: rgba(0,0,0,0.01) !important;
			border-bottom: 1px solid rgba(0,0,0,0.05) !important;
		  }
		}
	  }
	}

	.menu-header{
	  @extend .cf;
	  ul{
		overflow: hidden;

		@include break(sm-md){
		  min-width: 0;
		}

		@include break(sm){
		  float: none;
		}

		li{
		  float: right;

		  &:first-of-type{
			@include break(sm){
			 padding-top: 18px;
			  width: 90%;
			  margin: 0 5% 27px !important;
			}

			a{
			  @include break(sm){
				border-top: 1px solid rgba(0,0,0,0.05);
			  }
			}
		  }

		  @include break(sm){
			text-align: center;
			display: inline-block;
			float: none;
			width: 100%;
			margin: auto !important;
		  }

		  a{
			line-height: 49px;
			font-size: 14px;
			font-weight: 400;
			text-transform: uppercase;
			color: #000;
			text-shadow: none;

			@include break(sm){
			  font-size: 14px;
			  line-height: 33px;
			  border-bottom: 1px solid rgba(0,0,0,0.05);
			}

			&:hover{
			  @include break(sm){
				background: rgba(0,0,0,0.05);
			  }
			}
		  }
		}
	  }
	}
  }
}

#wrap #content{
  @include break(sm){
	width: 95%;
	margin: 0 2.5% !important;
  }

}

div.menu-header{
  ul#menu-main-nav{
	li#menu-item-113,//.stage
	li#menu-item-123{//.dev
	  @extend .donate;
	  position: relative;
	  top: 21px;

	  a{
		color: #ffffff !important;
		font-weight: 100 !important;
		font-size: 14px !important;
		line-height: 18px !important;
		padding: 0 !important;
	  }
	}
  }
}

.container{
  @include break(md){
	width: 100%;
  }
}

