button.menu-toggle{
  display: none !important;
}

.site-header-menu{
  margin: 18px auto 0 !important;
  display: block !important;

  @include break(md){
	margin-top: 9px !important;
  }
}

.main-navigation{
  max-width: 1200px;
  margin: 0 auto;

	a{
	  color: $text-primary-alt;
	  font-weight: 100;

	  &:hover,
	  &:focus{
		color: $text-secondary !important;
	  }
	}

  .primary-menu{
	@include break(md){
	  border-bottom: none;
	}

	> li{
	  float: right;

	  @include break(md){
		padding: 0 18px;
		float: left;
		border-top: none;
	  }
	}
  }
}